<div class="form-container">
  <h2 class="form-title">投稿編集ページ ✈️</h2>

  <%= form_for @tweet, html: { multipart: true } do |f| %>
    <div class="field">
      <%= f.label :name, "おすすめスポット📍" %>
      <%= f.text_field :name, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :adress, "都道府県🗺️" %>
      <%= f.text_field :adress, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :time, "時間⏱" %>
      <%= f.text_field :time, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :cost, "費用💰" %>
      <%= f.number_field :cost, class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :point, "おすすめポイント🌟" %>
      <%= f.text_area :point, class: "form-input", rows: 2 %>
    </div>

    <div class="field">
      <%= f.label :image, "画像📸", class: "image-label" %>
      <%= f.file_field :image, class: "image-input" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class: "submit-btn" %>
      <%= link_to "一覧に戻る", tweets_path, class: "back-link-btn" %>
    </div>
  <% end %>
</div>