<div class="tweets-container">
  <% if user_signed_in? %>
  <p class="list-link">
    
  </p>
<% end %>
  <% if user_signed_in? %>
    <div class="header-nav">
      <div class="header-right-box">
  <%= form_tag({controller:"tweets",action:"index"}, method: :get, class: "header-search-form common-width") do %>
    <%= text_field_tag :search, "", class:"search-box", placeholder: "Search trips..." %>
    <%= submit_tag '検索', class:"search-btn" %>
  <% end %>

  <div class="buttons-row common-width">
    <%= link_to "＋ 新規投稿", new_tweet_path, class:"common-btn" %>
    <div class="common-btn">
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "inner-btn" %>
    </div>
  </div>
</div>
  <% else %>
  <div class="button-container">
    <div class="auth-buttons">
       <%= link_to "新規登録", new_user_registration_path, class: "btn btn-signup" %>
       <%= link_to "ログイン", new_user_session_path, class: "btn btn-login" %>
    </div>
  <% end %>
 </div>
</div>
  <div class="sky">

  <div class="start-area">
    <%= image_tag "hikouki3.png", class: "plane plane1" %>
    <%= image_tag "hikouki3.png", class: "plane plane2" %>
    <%= image_tag "hikouki3.png", class: "plane plane3" %>
    <%= image_tag "hikouki3.png", class: "plane plane4" %>
    <%= image_tag "hikouki3.png", class: "plane plane5" %>
    <%= image_tag "hikouki3.png", class: "plane plane6" %>
    <%= image_tag "hikouki3.png", class: "plane plane7" %>
   <%= link_to "診断を始める", new_perfume_path, class: "start-button" %>
  </div>

  <h3>一覧ページ</h3>

  <div class="cloud cloud-left">
  <%= image_tag "kumo.png" %>
</div>

<div class="cloud cloud-right">
  <%= image_tag "kumo.png" %>
</div>

<div class="cloud cloud-bottom">
  <%= image_tag "kumo.png" %>
</div>

<div class="cloud cloud-left2">
  <%= image_tag "kumo.png" %>
</div>

<div class="cloud cloud-right2">
  <%= image_tag "kumo.png" %>
</div>
  
  <% @tweets.each do |t| %>
    <div class="tweet">
      <% if t.image.attached? %>
        <div class="tweet-image">
          <%= image_tag t.image, size: '250x200' %>
        </div>
      <% end %>

      <div class="tweet-content">
        <p>おすすめの場所：<%= t.name %></p>
        <p>住所：<%= t.adress %></p>
        <p>時間：<%= t.time %></p>
        <p>費用：<%= t.cost %></p>
        <p>おすすめポイント：<%= t.point %></p>
        
        <div class="tweet-actions">
          <%= link_to "詳細へ", tweet_path(t.id) %>
          <%= button_to "削除する", tweet_path(t.id), method: :delete %>
        </div>

        <div class="like-section">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
              <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                <span>いいねを取り消す</span> <%= t.likes.count %>
              <% end %>
            <% else %>
              <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
                <span>いいね</span> <%= t.likes.count %>
              <% end %>
            <% end %>
          <% else %>
            <p>いいねの数 = <%= t.likes.count %></p>
          <% end %>
        </div>
      </div>
    </div> <% end %>
</div>
  