<div class="form-container">
  <%= form_for @tweet, html: { multipart: true } do |f| %>
    c

      <div class="field">
        <%= f.label :おすすめスポット📍 %>
        <%= f.text_field :name, :size => 30 %>
      </div>

      <div class="field">
        <%= f.label :都道府県🗺️  %>
        <%= f.text_field :adress, size: 30 %> 
      </div>

      <div class="field">
        <%= f.label :時間⏱  %>
        <%= f.text_field :time, :size => 30 %>
      </div>

      <div class="field">
        <%= f.label :費用💰  %>
        <%= f.number_field :cost %>
      </div>

      <div class="field">
        <%= f.label :おすすめポイント🌟  %>
        <%= f.text_area :point, :size => "30x2" %>
      </div>

      <div class="field">
        <%= f.label :画像📸 %>
        <%= f.file_field :image %>
      </div>

      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>

<%= link_to "一覧に戻る", tweets_path %>